h1
{
    font-style:italic;
    font-size: 30px;
    color: white;
    text-align: center;
    padding:20px;
    margin-bottom:35px;
    margin-right: 30%;
}
.navigations
{
    /* background-color: grey; */
    background-position: top;
    width: 150%;
    height: 100%;
    margin-left: -10px;
    margin-top: -20px;
}
ul
{
    display: block;
    overflow: hidden;
    background-color:grey;
    list-style-type:none;
    width: 100%;
    margin-bottom: -15px;
    margin-top: -10px;
    position: fixed;

}
li
{
    float: left;
}
li a
{
    display:block;
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-left: 50px;
}
li a:hover
{
    background-color:white;

}
h2
{
    font-size:25px;
    font-style: inherit;
    color:white;
}
p{
    font-size:15px;
    font-style: inherit;
    color: white;
}
em
{
    text-decoration: underline;
}
/* .container
{
column-count: 3;
column-rule: 2px;
column-width: 200px;
} */
.image
{
    margin-bottom:-35px;
    margin-left:-7px;
    margin-top:36px;
    display: flex;
    justify-content: right;
}
.aboutme
{
    float:right;

}
body
{
    background-color: black;

}
.footer
{
    background-color: grey;
    padding: 10px;
    margin-top:180px;
}
.fa
{
    padding:2%;
    font-size: 15px;
    text-decoration: none;
    display:inline-block;
    border-radius:50%;
    text-align: center;

}
.fa:hover
{
    opacity:0.8;
}
.fa-facebook
{
    background:black;
    color:white;
}
.fa-twitter
{
    background: black;
    color:white;
}
.fa-pinterest
{
    background: black;
    color:white;
}
.fa-linkedin
{
    background-color: black;
    color:white;
   
}
h3
{
    text-align: center;
}
.icons
{
    text-align: center;
}

