h1
{
    font-style:italic;
    font-size: 30px;
    color: white;
    text-align: center;
    padding:20px;
    margin-bottom:35px;

}
ul
{
 list-style-type: none;
 background-color:#f1f1f1;
 overflow: hidden;
 width:50%;
 margin: 0;
 padding: 0;

}
li a
{
    display: block;
    color:#000;
    padding: 8px 16px;
    text-decoration: underline;
    font-style: inherit;
    font-size: 20px;
}
li a:hover
{
    background-color: #555;

}
h2
{
    font-size:20px;
    font-style: inherit;
    color:white;
}
p{
    font-size: 10px;
    font-style: inherit;
    color: white;
}
.container
{
column-count: 3;
column-rule: 2px;
column-width: 200px;
}
body
{
    background-color: black;

}
.footer
{
    background-color: grey;
    padding: 10px;
    margin-top:180px;
}
.fa
{
    padding:2%;
    font-size: 15px;
    text-decoration: none;
    display:inline-block;
    border-radius:50%;
    text-align: center;

}
.fa:hover
{
    opacity:0.8;
}
.fa-facebook
{
    background:black;
    color:white;
}
.fa-twitter
{
    background: black;
    color:white;
}
.fa-pinterest
{
    background: black;
    color:white;
}
.fa-linkedin
{
    background-color: black;
    color:white;
   
}
h3
{
    text-align: center;
}
.icons
{
    text-align: center;
}

